[Unit]
Description=NitroSense Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/env linux-nitrosense --daemon
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
