[Desktop Entry]
Name=NitroSense
Comment=Monitor and control Acer Nitro laptop fans and RGB
Exec=/usr/local/bin/linux-nitrosense
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=System;Utility;Monitor;
