[Unit]
Description=NitroSense Service
After=multi-user.target

[Service]
Type=simple
Environment="PATH=/run/current-system/sw/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/bin/linux-nitrosense --daemon
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
