name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtk-4-dev libglib2.0-dev pkg-config build-essential

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      
    - name: Build
      run: cargo build --release --verbose

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: linux-nitrosense
        path: |
          target/release/linux-nitrosense
          linux-nitrosense.desktop
          linux-nitrosense.service
          install.sh
